*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.todoContent{
    width: 500px;
    margin: 50px auto;
    padding: 20px 10px;
    border-radius: 10px;
    border: 1px solid rgb(196, 195, 195);
    text-align: center;

}

.todoInp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.todoInp input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid navy;
}
.todoInp button{
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: navy;
    color: white;
    cursor: pointer;
}
.todoList ul{
  list-style: none;
  text-align: start !important;
  margin-top: 30px;
}
.todoList li{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.todoList p{
    margin-left: 10px;
}